.App {
    margin: 4rem auto;
    width: 90%;
    display: grid;
    place-items: center;
}
.main-header-text{
    text-align: center;
    font-size: 1.3rem;
     color: var(--CTAbackgroundandText);
     font-size: 800;
}
.intro{
    background: url(./images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    place-items: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.main-descp{
    text-align: center;
    font-size: 0.9rem;
    max-width: 60%;
    margin: 1rem 0;
    color: var(--grayText);
}
.features{
    padding: 1.4rem 0;
    color: var(--grayText);
    width: 100%;
    display: grid;
    place-items: center;
}
.bottom-section {
    background-color: var(--whiteBackground);
    width: 100%;
    display: grid;
    place-items: center;
}
.feature{
    padding: 0.5rem 0;
}
.check-icon {
    padding: 0 0.6rem;
}
.start-trial{
    padding: 0.8rem 3rem;
    background-color: var(--CTAbackgroundandText);
    color: var(--CTAText);
    border-radius: 3rem;
}
@media screen and (min-width: 1000px) {
    .App {
        margin: 4rem auto;
        width: 43%;
    }
    .bottom-section{
        grid-template-columns: 1fr 1fr;
    }
    .features{
        place-items: start;
    }
    .check-icon {
        padding-left: 2rem;
    }
}